.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(21, 128, 37);
  background: linear-gradient(
    180deg,
    rgba(21, 128, 37, 1) 13%,
    rgba(250, 250, 249, 1) 84%
  );
  width: 100%;
  height: 100px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
  min-width: 250px;
}
.input:hover,
.input:focus {
  box-shadow: 0 0 1em #00000013;
}

.input:focus {
  outline: none;
  background-color: #f0eeee;
}

.input::-webkit-input-placeholder {
  font-weight: 14px;
  color: #ccc;
}

.input:focus + .btn {
  background-color: #f0eeee;
}

.btn {
  border: transparent;
  background-color: #f4f2f2;
  margin-top: 0.1em;
  border-radius: 40px;
}

.btn:hover {
  cursor: pointer;
}

.icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
  color: rgb(21, 128, 37);
}
